.header{
    max-width: 1880px;
    margin: 0;
    position: relative;
	width: 100%; 
    margin-bottom: 30px;
}
.header_top{
    height: 60px;
    background-color: #0F1111;
    font-size: 14px;
    display:flex;
    color:white;
    padding-right:8px;
    padding-bottom: 8px;
    
}
.header_menu {
    display: flex;
    padding: 10px 8px 8px 8px;
    width: 100%;
 

}
.header_menu > div{
    margin: 8px;
}

.header_menu_searchbar{
    display: flex;
    margin-top: 8px;
    height: 40px;
    justify-content: center;
    flex: 1;
}
.header_menu_input{
    height: 30px;
    padding: 10px;
    border: none;
    width: 80%;
}
.header_menu_searchbar_icon{
    background-color: #febd69;
    height: 30px;
    width: 40px;

}
.header_menu_logo{
    object-fit: contain;
    width: 100px;
    margin: 12px 20px 0px 2px;
}


.header_bottom{
    height: 40px;
    background-image: none;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    color: white;
    font-size: 15px;
    display: flex;
    justify-content: center;
    

}
