<div class="header">
    <nav class="header_top">
      <div class="header_menu">
        <div class="header_menu_icon" routerLink="/"></div>
        <img routerLink="/" src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" class="header_menu_logo" alt="">
     <div class="header_menu_searchbar">
       <input type="text" class="header_menu_input">
       <div class="header_menu_searchbar_icon">
       </div>
      </div>
      <div class="inner">
      <nav class="nav nav-masthead justify-content-center">
      <a  class="header_bottom" routerLink="/home">Home</a>
      <a  class="header_bottom" [routerLink]="['/products']">Products</a>
      </nav>
    </div>
    </div>

    </nav>
  
  
  </div>
