ngb-rating {
    color: #FFC107;
    font-size: 25px;
}


.products{
    display: inline-block;
    vertical-align: middle;
    margin: 25px 15px;
    
}

.product{
    width: 340px;
    
    
    
}
.features-icon{
    margin-bottom: 40px;
    width: 250px;
    
}

.product-text light-backgr{
    margin-bottom: 3px;
    font-size: 15px;
    font-weight: 700;
}

.product-text a{
    text-decoration: none;
}


.button {
	top:330px;
    left: 0;
    font-size: 15px;
    border: none;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    width: 160px;
    background-color: #000000;
    
}

.buttons a{
    color: #ffffff;
    text-decoration: none;

}
